@import '../../scss/includes';

.tagLabel {
    font-famly: $heading-font-family;
    font-size: 1.2em;
    font-weight: $heading-font-weight;
    letter-spacing: kerning(60);
    text-transform: uppercase;
}

.tagsList {
    display: flex;
    flex-wrap: wrap;
    margin: -2px;
}

.tag {
    padding: 2px;
}

.tagLink {
    background-color: $swatch-primary;
    border-radius: 4px;
    color: $swatch-white;
    display: block;
    font-size: 0.8em;
    padding: 5px 8px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: $swatch-primary-alt;
    }
}
