.imageContainer {
    height: 0;
    padding-bottom: 66%;
    position: relative;
    width: 150px;
}

.image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
