@import '../../../../scss/includes';

.photoItem {
    display: flex;
    transition: background-color 0.2s ease-in-out;

    & + & {
        margin-top: pxtorem(25);
    }

    &:hover {
        background-color: $swatch-primary-alt;

        .title {
            color: red;
        }
    }
}
